<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidature facile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {% include "layouts/_header.html.twig" %}
    {% include "layouts/_flashes.html.twig" %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% include "layouts/_footer.html.twig" %}
</body>
</html>